*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(46, 50, 55);
}



#logo{
    background-color:rgb(218, 229, 232);
    text-align: center;
}
.cabecalho{
    position: sticky ;
    top: 0px;
    background-color: rgb(218, 229, 232);
    text-align: center;  
}

#logo img{
    width: 300px;
}

.cabecalho ul{
    margin: auto;
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.cabecalho li{
    margin: 10px;
    font-weight: bolder;
    font-size: 30px;
}

.cabecalho a{
    color: rgb(72, 69, 60);
    text-decoration: none;
}

.cabecalho a:hover{
    color: rgb(126, 121, 106);
}

footer{
    text-align: center;
    background-color: rgb(218, 229, 232);
}

footer h4{
    font-weight: 400px;
}

footer a{
    width: 80px;
    height: 80px;
}

footer img{
    margin: 10px;
    width: 50px;
}

#fb{
    width: 47px;
}

#yt{
    margin: 5px;
    width: 60px;
}

@media only screen and (max-width:500px){

    .cabecalho ul{
        margin: auto;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
    }


    .cabecalho{
        position: static;
        background-color: rgb(218, 229, 232);
        text-align: center;  
    }

    .cabecalho li{
        margin: 10px;
        font-weight: bolder;
        font-size: 30px;
    }
}