*{
    margin: 0;
    padding: 0;

}
.cabecalho{
    background-color: rgb(218, 229, 232);
    color: rgb(72, 69, 60);
    
}
section{
    background-color: rgb(46, 50, 55);
    height: 1000px;
}
footer{
    background-color: rgb(218, 229, 232);
}