#formulario{
    background-color: rgb(218, 229, 232);
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 500px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
#formulario p{
font-size:20px;
}
.campo-info{
    margin: 30px;
}
.campo-info input{

    height: 30px;
    width: 220px;
    margin: 10px;
}
.campo-genero{
    margin: 30px;
    display: flex;
    flex-direction:column;
}
.campo-genero input{
    margin-left:10px;
}
.campo-genero div{
    width: 300px;
    text-align: center;
    margin: auto;
}
#text{ 
    text-align: center;
    margin: auto;
}
#text textarea{
    width: 98%;
    height: 180px;
    border-radius: 10px;
}
button{
    width: 98%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    #formulario{
        background-color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin:auto;
        margin-top: 50px;
        border-radius: 0px;
        margin-bottom: 50px;
    }

    #text{ 
        width: 100%;
        text-align: center;
        margin: auto;
    }

    

    #text textarea{
        width: 99%;
        height: 180px;
        border-radius: 10px;
    }

    button{
        width: 100%;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}
