#produtos{
    background-color: rgb(46, 50, 55);
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  ;
}

.card{
    padding: 10px;
    margin: 10px;
    height: 300px;
}

.card:hover{
    padding: 0px;
}

.card img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.card img:hover{
    box-shadow: 5px 5px 8px rgba(201, 225, 231, 0.603);
}

@media screen and (max-width:500px) {
    #produtos{
        background-color: rgb(46, 50, 55);
        display: grid;
        grid-template-columns:  1fr ;
        grid-template-rows: repeat(12,1fr)  ;
    }
}

